<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Exercices VueJS</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <ul id="app">
            <template v-for="number in numbers">
                <li v-if="number%2 === 0" style="color: red;">{{number}}</li>
                <li v-else style="color: blue;">{{number}}</li>
            </template>
        </ul>
        <script type="module" src="assets/js/index.js"></script>
    </body>
</html>